@import '../../css/vars'
p
  text-align: center

pre,
table
  width: 450px
  margin: 0 auto
  color: #ccc

pre
  background: darken($bg,2%)
  margin-top: 30px
  margin-bottom: 30px
  padding: 20px
  border-radius: 5px
  box-sizing: border-box

table
  border-spacing: 10px
  border-collapse: collapse

td
  border: 1px solid #fff
  padding: 10px
