<template>
  <div class="app">
    <nav-menu></nav-menu>
    <router-view></router-view>
  </div>
</template>

<script>
  import 'bootstrap/dist/js/bootstrap'
  import 'bootstrap/dist/css/bootstrap.css'

  import NavMenu from './components/shared/nav-menu/NavMenu.vue'
  export default {
    components: {
        'nav-menu': NavMenu
    }
  }
</script>

<style lang="sass">
@import './css/app'
</style>
